---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Presentación">

<section class="py-20 px-6 max-w-4xl mx-auto text-center">

  <h1 class="text-4xl font-bold mb-8">Presentación</h1>

  <p class="mb-10 text-lg">
    Gracias por querer conocerme mejor , en el siguiente video te contare más sobre mi  
  </p>

  <video controls class="mx-auto rounded-xl shadow-lg max-w-full">
  <source src="../../assets/Presentacion.mp4" type="video/mp4">
  <p>Tu navegador no soporta video.</p>
</video>


</section>

</Layout>